<!DOCTYPE html>
<html>

<head>
    <title>Eco Track - Waste Bins</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.jpeg') }}"
         class="logo">

    <h1>🗑️ Various Types of Waste Bins</h1>

    <hr>

    <div class="card">
        <h2>🟢 Green Bin</h2>

        <p>
            <b>Biodegradable / Wet Waste</b>
        </p>

        <p>
            Food waste, vegetable peels,
            fruit peels, leaves etc.
        </p>
    </div>

    <div class="card">
        <h2>🔵 Blue Bin</h2>

        <p>
            <b>Dry / Recyclable Waste</b>
        </p>

        <p>
            Paper, cardboard, plastic bottles,
            metal cans etc.
        </p>
    </div>

    <div class="card">
        <h2>🟡 Yellow Bin</h2>

        <p>
            <b>Special Waste</b>
        </p>

        <p>
            Batteries, medicines and certain
            chemical or medical waste.
        </p>
    </div>

    <div class="card">
        <h2>⚫ Black Bin</h2>

        <p>
            <b>General / Non-Recyclable Waste</b>
        </p>

        <p>
            Diapers, used tissues, thermocol
            and other general waste.
        </p>
    </div>

    <br>

    <a href="{{ url_for('home') }}">
        <button>⬅️ Back to Home</button>
    </a>

</body>
</html>