<!DOCTYPE html>
<html>
<head>
    <title>Eco Track - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.jpeg') }}"
         class="logo">

    <h1>🌱 ECO TRACK</h1>

    <h2>Welcome, {{ username }}! 👋</h2>

    <p>Smart Waste Management System</p>

    <hr>

    <a href="{{ url_for('bins') }}">
        <button>🗑️ Various Types of Bins</button>
    </a>

    <br><br>

    <a href="{{ url_for('helper') }}">
        <button>🔍 Waste Disposal Helper</button>
    </a>

    <br><br>

    <a href="{{ url_for('report') }}">
        <button>📝 Reports</button>
    </a>

    <br><br>

    <a href="{{ url_for('my_reports') }}">
        <button>📋 My Reports</button>
    </a>

    <br><br>

    <a href="{{ url_for('logout') }}">
        <button>🚪 Logout</button>
    </a>

</body>
</html>