<!DOCTYPE html>
<html>
<head>
    <title>Eco Track - Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.jpeg') }}"
         alt="Eco Track Logo"
         style="width: 180px;">

    <h2>Create Your Eco Track Account</h2>

    <form method="POST">

        <label>Username:</label><br>
        <input type="text" name="username" required>

        <br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required>

        <br><br>

        <h3>Select Your Role</h3>

        <label>
            <input type="radio" name="role" value="citizen" required>
            👤 Normal Citizen
        </label>

        <br><br>

        <label>
            <input type="radio" name="role" value="worker" required>
            🧑‍🔧 Service Worker
        </label>

        <br><br>

        <button type="submit">Create Account</button>

    </form>

    <br>

    <a href="/login">Already have an account? Login</a>

</body>
</html>