<!DOCTYPE html>
<html>

<head>
    <title>Eco Track - Create Account</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.jpeg') }}"
         class="logo">

    <h1>🌱 ECO TRACK</h1>

    <h2>Create Your Account</h2>

    <form method="POST">

        <label>Username</label>

        <br><br>

        <input
            type="text"
            name="username"
            required>

        <br><br>

        <label>Password</label>

        <br><br>

        <input
            type="password"
            name="password"
            required>

        <br><br>

        <h3>Select Account Type</h3>

        <label>
            <input
                type="radio"
                name="role"
                value="citizen"
                required>

            👤 Normal Citizen
        </label>

        <br><br>

        <label>
            <input
                type="radio"
                name="role"
                value="worker"
                required>

            🧑‍🔧 Service Worker
        </label>

        <br><br>

        <button type="submit">
            Create Account
        </button>

    </form>

    <br>

    <a href="{{ url_for('login') }}">
        Already have an account? Login
    </a>

</body>
</html>